@model RentForRoom.Models.DatLichModel


<div class="modal fade" id="make-an-appointment" tabindex="-1" aria-labelledby="make-an-appointment">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="make-an-appointmentTitle">NHẬP THÔNG TIN ĐẶT LỊCH HẸN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmbooking" name="frmbooking" novalidate="novalidate" class="cons-contact-form2">
                    <input type="hidden" name="roomid" id="roomid" value="" readonly>
                    <input type="hidden" name="roomurl" id="roomurl" value="thue-phong-">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="room-info">
                                <img class="pro-img" src="" alt=" ">
                                @*<div class="slider">
                                    <div class="slides" id="sliderImages">
                                        <img class="pro-img" src="" alt=" ">


                                    </div>
                                    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                                    <button class="next" onclick="changeSlide(1)">&#10095;</button>
                                </div>*@
                                <!--<div class="image-gallery">-->
                                    <!-- Các hình ảnh sẽ được thêm vào đây sau khi nhận dữ liệu từ AJAX -->
                                <!--</div>-->

                                @*<input type="hidden" name="roomid" id="roomid" value="@Request.QueryString["roomid"]" readonly>*@ <!-- Ví dụ roomid -->

                                <!--<div class="slider">
                                    <div class="slides" id="sliderImages">
                                        @@foreach (var imageUrl in Model.TieuDe)
                                        {
                                            <p>@@imageUrl</p>-->
                                            @*<img src="@imageUrl" alt="Image" style="max-width: 100%; height: auto;">*@
                                        <!--}
                                    </div>
                                    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                                    <button class="next" onclick="changeSlide(1)">&#10095;</button>
                                </div>-->

                                <h3 class="pro-name"></h3>

                                <p class="price"><b>GIÁ THUÊ PHÒNG: </b><b class="pro-price"></b> <span>/ tháng</span></p>
                                <p class="pro-addres"><b>Địa chỉ:</b></p>
                                <p>Map: <a href="#" id="mapLink" class="mapLink"></a></p>
                                <div class="row">
                                    <p>
                                        <span>⚡Giá điện: <b class="pro-Dien"></b><b> ₫/Kwh</b> </span>
                                        <span>&nbsp;💧Giá nước: <b class="pro-Nuoc"></b><b>.000 ₫/Người</b> </span>

                                    </p>
                                    <div class="col-lg-12">
                                        <p><span>🌾Phí quản lý: <b class="pro-PQL"></b><b>.000 ₫/Phòng</b></span></p>
                                    </div>
                                </div>

                                <p><i><b>Ghi chú:</b> giá điện, nước có thể tăng hoặc giảm tùy theo thời giá</i></p>
                                <h7><strong>Tiện Ích Phòng</strong></h7>
                                <p>
                                    <f>☑ WC </f>
                                    <span class="pro-WC"></span>


                                    <f>&nbsp; ☑ </f>
                                    <span class="pro-DP"></span>

                                    <f>&nbsp; ☑ Kệ bếp</f>
                                    <span class="pro-KB"></span>

                                </p>
                                <h7><strong>Tiện Nghi Phòng</strong></h7>
                                <p>
                                    <f>☑ Máy Lạnh x</f>
                                    <span class="pro-ML"></span>
                                    <f>&nbsp; ☑ Tủ Đồ x</f>
                                    <span class="pro-TD"></span>
                                    <f>&nbsp; ☑ Tủ Lạnh x</f>
                                    <span class="pro-TL"></span>

                                </p>
                                <p>
                                    <f>☑ Giường x</f>
                                    <span class="pro-Giuong"></span>
                                    <f>&nbsp; ☑ Nệm x</f>
                                    <span class="pro-Nem"></span>
                                    <f>&nbsp; ☑ Bàn Ghế x</f>
                                    <span class="pro-BG"></span>

                                </p>
                                <p>
                                    <f>☑ Sofa x</f>
                                    <span class="pro-SF"></span>
                                    <f>&nbsp; ☑ Số Phòng Ngủ x</f>
                                    <span class="pro-SPN"></span>
                                </p>
                                <h7><strong>Tiện Ích Nhà</strong></h7>
                                <p>
                                    <f>☑ Thang </f>
                                    <span class="pro-Thang"></span>

                                    <f>&nbsp; ☑ Máy giặt</f>
                                    <span class="pro-MG"></span>

                                    <f>&nbsp; ☑ Thú cưng</f>
                                    <span class="pro-TC"></span>
                                </p>
                                <p>
                                    <f>☑ Tiền cọc </f>
                                    <span class="pro-Coc"></span>

                                    <f>&nbsp; ☑ Phương tiện</f>
                                    <span class="pro-PT"></span>

                                    <f>&nbsp; ☑ Giờ giấc</f>
                                    <span class="pro-Gio"></span>
                                </p>
                                <hr />
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" name="Email" id="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <div class="form-group">
                                        <label>Họ tên </label>
                                        <input required type="text" name="HoTen" id="HoTen" class="form-control" placeholder="Nhập tên của bạn">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <div class="form-group">
                                        <label>Điện thoại di động</label>
                                        <input required type="number" name="SDT" id="SDT" class="form-control" placeholder="Nhập tên số điện thoại">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <div class="form-group">
                                        <label>Số người ở </label>
                                        <select class="select" style="width: 100%;" name="SoNguoiO" id="SoNguoiO" data-minimum-results-for-search="Infinity" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <div class="form-group">
                                        <label>Số lượng xe</label>
                                        <select required class="select" name="SoLuongXe" id="SoLuongXe" data-minimum-results-for-search="Infinity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <div class="form-group">
                                        <label>Nuôi thú cưng</label>
                                        <select class="select" name="ThuCung" id="ThuCung" data-minimum-results-for-search="Infinity">
                                            <option value="false">Không</option>
                                            <option value="true">Có</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <div class="form-group">
                                        <label for="inputDate">Ngày dự kiến chuyển vào ở</label>
                                        <input required type="text" class="form-control" name="NgayChuyenVao" id="NgayChuyenVao" value="">
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-6" >
                                        <div class="form-group">
                                            <label>Thời gian thuê</label>
                                            <select class="select" name="ThoiHanThue" id="ThoiHanThue" data-minimum-results-for-search="Infinity">
                                                <option value="false">6 tháng</option>
                                                <option value="true">12 tháng</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="col-lg-6 col-6">
                                    <div class="form-group">
                                        <label for="inputDate">Ngày hẹn xem phòng</label>
                                        <input required type="text" class="form-control" name="NgayXemPhong" id="NgayXemPhong" value="">
                                    </div>
                                </div>

                                <div class="col-lg12 col-12">
                                    <div class="form-group">
                                        <label>Ghi chú thêm</label>
                                        <textarea class="form-control" rows="9" name="GhiChu" id="GhiChu"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <button type="button" class="btn btn-block btn-success btn-save" @*onclick="submitForm()"*@>
                                        XÁC NHẬN ĐẶT LỊCH XEM
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Loading Spinner -->
<div id="loading-spinner" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1050;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#NgayXemPhong", {
        enableTime: true,
        noCalendar: false,
        dateFormat: "Y-m-d H:i",
        time_24hr: true // Sử dụng kiểu giờ 24
    });
    flatpickr("#NgayChuyenVao", {
        enableTime: true,
        noCalendar: false,
        dateFormat: "Y-m-d",
        time_24hr: true // Sử dụng kiểu giờ 24
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputNgayChuyenVao = document.getElementById('NgayChuyenVao');
        const today = new Date();
        const formattedDate = today.toISOString().split('T')[0];

        // Gán giá trị vào input
        inputNgayChuyenVao.value = formattedDate;
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Lấy input với ID NgayXemPhong
        const inputNgayXemPhong = document.getElementById('NgayXemPhong');

        // Lấy ngày giờ hiện tại
        const now = new Date();

        // Định dạng ngày giờ theo yyyy-MM-ddTHH:mm
        const formattedDateTime = now.toISOString().slice(0, 16);

        // Gán giá trị vào input
        inputNgayXemPhong.value = formattedDateTime;
    });
    function submitForm() {
        const datetime = document.getElementById('NgayXemPhong').value;
        if (!datetime) {
            alert("Vui lòng chọn ngày giờ!");
            return;
        }
    }
    function validatePhoneNumber(number) {
        var regex = /^[0-9]{10}$/; // Kiểm tra số điện thoại có đúng 10 chữ số
        return regex.test(number);
    }



    var frmbooking = $('#frmbooking');
    frmbooking.validate({
        rules: {
            SDT: {
                required: true,
                minlength: 10,
                maxlength: 10,
                digits: true
            },
            HoTen: {
                required: true
            },
            // Thêm các quy tắc kiểm tra khác cho các trường
        },
        messages: {
            SDT: {
                required: "Vui lòng nhập số điện thoại.",
                minlength: "Số điện thoại phải có 10 chữ số.",
                maxlength: "Số điện thoại không quá 10 chữ số.",
                digits: "Số điện thoại chỉ được phép chứa chữ số."
            },
            HoTen: {
                required: "Vui lòng nhập họ tên."
            }
            // Thêm thông báo lỗi cho các trường khác nếu cần
        }
    });
    frmbooking.find('.btn-save').on('click', function (e) {
        e.preventDefault();

        // Lấy số điện thoại từ form
        var SDT = frmbooking.find('#SDT').val();
        var IDPhong = frmbooking.find('#roomid').val();
        /*var NgayXemPhong = booking.NgayXemPhong.ToString("yyyy-MM-ddTHH:mm");*/

        // Kiểm tra số điện thoại hợp lệ
        if (!validatePhoneNumber(SDT)) {
            alert('Số điện thoại không hợp lệ.');
            return;
        }

        // Kiểm tra xem form có hợp lệ hay không
        if (frmbooking.valid()) {
            // Tạo đối tượng dữ liệu để gửi lên server
            $('#loading-spinner').show();
            var data = {
                IDPhong: IDPhong,
                District: frmbooking.find('#District').val(),
                roomurl: frmbooking.find('#roomurl').val(),
                SDT: SDT,
                HoTen: frmbooking.find('#HoTen').val(),
                SoNguoiO: frmbooking.find('#SoNguoiO').val(),
                SoLuongXe: frmbooking.find('#SoLuongXe').val(),
                ThuCung: frmbooking.find('#ThuCung').val(),
                NgayChuyenVao: frmbooking.find('#NgayChuyenVao').val(),
                NgayXemPhong: frmbooking.find('#NgayXemPhong').val(),
                Email: frmbooking.find('#Email').val(),
                GhiChu: frmbooking.find('#GhiChu').val(),
                /*ThoiHanThue: frmbooking.find('#ThoiHanThue').val(),*/
            };

            // Gửi dữ liệu qua AJAX
            $.ajax({
                url: '/DatLichHen/SaveBooking',  // Đảm bảo URL đúng
                type: 'POST',
                data: JSON.stringify(data),  // Chuyển đổi dữ liệu thành JSON
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')  // Thêm CSRF token
                },
                contentType: "application/json",  // Sửa contentType thành application/json
                success: function (result) {
                    $('#loading-spinner').hide(); 
                    if (result != null && result.Success) {
                        alert(result.Message); // Hiển thị thông báo từ server
                        $('#make-an-appointment').modal('hide');
                        frmbooking[0].reset();
                    } else {
                        alert(result.Message);
                        $('#make-an-appointment').modal('hide');
                    }
                },
                error: function (e) {
                    $('#loading-spinner').hide(); 
                    console.log(e);  // In ra lỗi nếu có
                    alert('Có lỗi xảy ra, vui lòng thử lại!');
                }
            });
        }
    });




</script>





@*<script>
    let currentIndex = 0;

    function changeSlide(direction) {
        const slides = document.querySelector('.slides');
        const totalSlides = slides.children.length;

        currentIndex = (currentIndex + direction + totalSlides) % totalSlides;
        const offset = -currentIndex * slides.children[0].clientWidth;

        slides.style.transform = `translateX(${offset}px)`;
    }

    window.addEventListener('resize', () => {
        changeSlide(0); // Reset slide position khi thay đổi kích thước màn hình
    });

    // Hiển thị slide đầu tiên khi trang được tải
    document.addEventListener('DOMContentLoaded', () => {
        changeSlide(0);
    });
</script>*@

<script>
    // Gửi roomid về server
    // Gửi roomid về server để lấy hình ảnh
    //function fetchImages() {
    //    var roomid = $('#roomid').val(); // Lấy giá trị roomid từ input ẩn

    //    if (roomid) {
    //        $.ajax({
    //            url: '/DatLichHen/GetImages', // Endpoint xử lý
    //            type: 'POST',
    //            data: { roomid: roomid }, // Gửi roomid
    //            success: function (response) {
    //                if (response.success) {
    //                    // Xóa các hình ảnh cũ
    //                    $('.image-gallery').empty();

    //                    // Hiển thị hình ảnh mới
    //                    response.images.forEach(function (imageUrl) {
    //                        var imgTag = '<div><img src="' + imageUrl + '" class="img-fluid" alt="Room Image"></div>';
    //                        $('.image-gallery').append(imgTag);
    //                    });

    //                    // Khởi tạo Slick Slider sau khi thêm hình ảnh
    //                    $('.image-gallery').slick({
    //                        infinite: true,
    //                        slidesToShow: 1,
    //                        slidesToScroll: 1,
    //                        arrows: true, // Hiển thị mũi tên qua lại
    //                        dots: true,   // Hiển thị dots (chấm) điều hướng
    //                        autoplay: true,
    //                        autoplaySpeed: 3000 // Tự động chuyển ảnh mỗi 3 giây
    //                    });
    //                } else {
    //                    alert('Không tìm thấy hình ảnh cho phòng này.');
    //                }
    //            },
    //            error: function () {
    //                alert('Có lỗi xảy ra khi lấy hình ảnh.');
    //            }
    //        });
    //    }
    //}

    //// Gọi hàm khi giá trị roomid thay đổi (hoặc sau khi render trang)
    //$('#roomid').on('change', fetchImages);




</script>