@model IEnumerable<RentForRoom.DBContext.tbXaPhuong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ THÔNG TIN PHƯỜNG/XÃ</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">DANH SÁCH CÁC THÔNG TIN PHƯỜNG/XÃ</h5>
                        <a class="btn btn-success" href="/Admin/AXaPhuongs/Create">THÊM MỚI</a>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    TQuận/Huyện
                                </th>
                                <th>
                                    Phường/Xã
                                </th>
                                <th>
                                    Trạng Thái
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.IDQuan.HasValue && item.IDQuan.Value != 0)
                                    {
                                        @Html.Action("GetQuanHuyenName", "AXaPhuongs", new { id = item.IDQuan })
                                    }
                                    else
                                    {
                                        <text>(Chưa có thông tin)</text>
                                    }
                                </td>
                                <td>
                                    @Html.Action("GetPhuongXaName", "AXaPhuongs", new { id = item.IDPhuong })

                                </td>
                                <td class="custom-padding">
                                    @if (item.Hide != true)
                                    {
                                        <p>         Hiện</p>
                                    }
                                    else
                                    {
                                        <p>   ẨN </p>
                                    }
                                </td>
                                <td>
                                    <a href="/Admin/AXaPhuongs/Edit/@item.IDPhuong"><i class="bi bi-pencil-square"></i></a> |
                                    <a href="/Admin/AXaPhuongs/Details/@item.IDPhuong"><i class="ri-article-line"></i></a> |
                                    <a href="/Admin/AXaPhuongs/Delete/@item.IDPhuong"><i class="ri-delete-bin-6-line"></i></a>
                                </td>
                            </tr>
                        }

                    </table>

                </div>


            </div>
        </div>
    </section>

</main>
