@*@model RentForRoom.DBContext.tbChiTietPhong*@
@model RentForRoom.Models.PhongModel

<div class="row">
    <div class="col-lg-12">
        <div class="banner-search">
            <div class="tab-content" id="bannerTabContent">
                <div class="tab-pane fade show active" id="buy_property" role="tabpanel" aria-labelledby="buy-property">
                    <div class="banner-tab-property">
                        <form name="frmsearchroom" id="frmsearchroom" action="/Search/Index" method="get">
                            <div class="show-list">
                                <div class="row">
                                    <div class="col-lg-11 col-10">
                                        <div class="review-form">
                                            <input id="key" name="k" value="" type="text" class="form-control" placeholder="Nhập từ khóa, tên đường, quận....">
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-2">
                                        <div class="review-form">
                                            <div class="banner-property-grid">
                                                <button type="button" id="toggle-filters" class="btn-default">
                                                    <span><i class="fa fa-fw fa-sliders"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <div class="additional-filters" style="display: none;">
                                                <div class="row">
                                                    <div class="col-lg-2 col-6">
                                                        <div for="IDThanhPho" class="review-form">
                                                            <select class="form-control" name="IDTP" id="IDThanhPho" onchange="loadQuanHuyen()">
                                                                @Html.Raw(ViewBag.ThanhPhoList)
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <div class="review-form" for="IDQuan">
                                                            <select class="form-control" name="IDQuan" id="IDQuan" onchange="loadPhuongXa()" disabled>
                                                                <option value="">----- Chọn Quận/Huyện -----</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <div class="review-form" for="IDPhuong">
                                                            <select class="form-control" name="IDPhuong" id="IDPhuong" disabled>
                                                                <option value="">----- Chọn Phường/Xã -----</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <div class="review-form">
                                                            <select class="select" id="price" name="p" @*data-minimum-results-for-search="Infinity"*@>
                                                                <option value="">Khoảng giá</option>
                                                                <option value="1">Dưới 3 triệu</option>
                                                                <option value="2">Từ 3tr đến 5tr</option>
                                                                <option value="3">Từ 5tr đến 7tr</option>
                                                                <option value="4">trên 7 triệu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-lg-2 col-6">
                                                            <div class="review-form">
                                                                <select class="select" id="protype" name="kp">
                                                                    <option value="">Kiểu phòng</option>
                                                                    <option value="1">Gường ký túc xá</option>
                                                                    <option value="2">Phòng trọ</option>
                                                                    <option value="3">Căn hộ duplex</option>
                                                                    <option value="4">Căn hộ mini</option>
                                                                    <option value="6">Nhà nguyên căn</option>
                                                                    <option value="7">Căn hộ 1 phòng ngủ</option>
                                                                    <option value="8">Căn hộ 2 phòng ngủ</option>
                                                                    <option value="9">Mặt bằng</option>
                                                                    <option value="11">Sleep box</option>
                                                                    <option value="12">Căn hộ 3 phòng ngủ</option>
                                                                    <option value="13">Chung cư cao tầng</option>
                                                                    <option value="14">Sàn văn phòng</option>
                                                                    <option value="19">Khác</option>
                                                                </select>
                                                            </div>
                                                        </div>*@
                                                    <div class="col-lg-2 col-6">
                                                        <div class="review-form">
                                                            <select class="select" id="status" name="st" data-minimum-results-for-search="Infinity">
                                                                <option value="">Trạng thái</option>
                                                                <option value="1">Nổi bật</option>
                                                                <option value="2">Phòng trống</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <div class="review-form">
                                                            <div class="banner-property-grid">

                                                                <button class="btn-primary " type="submit">
                                                                    <span><i class="fa fa-fw fa-search"></i> TÌM PHÒNG</span>
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kết quả tìm kiếm sẽ hiển thị ở đây -->
<div id="search-results">
    <div id="noResults" style="display:none;" class="alert alert-info">
        Không tìm thấy phòng nào phù hợp.
    </div>
    <div id="resultContainer">
        <!-- Kết quả sẽ được tải thông qua AJAX -->
    </div>
</div>
<script>
      $(document).ready(function () {
        // Lắng nghe sự kiện khi người dùng click vào nút tìm kiếm
        $('#frmsearchroom').submit(function (e) {
            e.preventDefault(); // Ngừng hành động mặc định của form
            var keyword = $('#key').val();
            var idThanhPho = $('#IDThanhPho').val();
            var idQuan = $('#IDQuan').val();
            var idPhuong = $('#IDPhuong').val();

            // Gửi yêu cầu AJAX đến controller để tìm kiếm
            $.ajax({
                url: '@Url.Action("SearchUsers", "Search")',
                type: 'GET',
                data: {
                    k: keyword,
                    idThanhPho: idThanhPho,
                    idQuan: idQuan,
                    idPhuong: idPhuong
                },
                success: function (response) {
                    if (response.message) {
                        $('#noResults').text(response.message).show();
                        $('#resultContainer').hide();
                    } else {
                        $('#noResults').hide();
                        $('#resultContainer').html(response).show();
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi khi tìm kiếm.');
                }
            });
        });

        // Toggle các bộ lọc
        $('#toggle-filters').click(function () {
            $('.additional-filters').toggle();
        });
    });
    function loadQuanHuyen() {
        var idThanhPho = document.getElementById("IDThanhPho").value;
        fetch(`/Search/LoadQuanHuyen?idThanhPho=${idThanhPho}`)
            .then(response => response.json())
            .then(data => {
                var quanSelect = document.getElementById("IDQuan");
                var phuongSelect = document.getElementById("IDPhuong");

                quanSelect.innerHTML = "<option value=''>----- Chọn Quận/Huyện -----</option>";
                phuongSelect.innerHTML = "<option value=''>----- Chọn Phường/Xã -----</option>";
                phuongSelect.disabled = true;

                if (data.length > 0) {
                    quanSelect.disabled = false;
                    data.forEach(quan => {
                        var option = document.createElement("option");
                        option.value = quan.IDQuan;
                        option.textContent = quan.TenQuan;
                        quanSelect.appendChild(option);
                    });
                } else {
                    quanSelect.disabled = true;
                }
            });
    }

    function loadPhuongXa() {
        var idQuan = document.getElementById("IDQuan").value;
        fetch(`/Search/LoadXaPhuong?idQuan=${idQuan}`)
            .then(response => response.json())
            .then(data => {
                var phuongSelect = document.getElementById("IDPhuong");
                phuongSelect.innerHTML = "<option value=''>----- Chọn Phường/Xã -----</option>";

                if (data.length > 0) {
                    phuongSelect.disabled = false;
                    data.forEach(phuong => {
                        var option = document.createElement("option");
                        option.value = phuong.IDPhuong;
                        option.textContent = phuong.TenPhuong;
                        phuongSelect.appendChild(option);
                    });
                } else {
                    phuongSelect.disabled = true;
                }
            });
    }
    //function SearchUser() {
    //    var idThanhPho = document.getElementById("IDThanhPho").value;
    //    var idQuan = document.getElementById("IDQuan").value;
    //    var idPhuong = document.getElementById("IDPhuong").value;


    //    fetch(`/Search/SearchUsers?idThanhPho=${idThanhPho}&idQuan=${idQuan}&idPhuong=${idPhuong}`)
    //        .then(response => response.json())
    //        .then(data => {
    //            var resultContainer = document.getElementById("resultContainer");
    //            var noResultsMessage = document.getElementById("noResults");
    //            var resultTableBody = document.getElementById("resultTableBody");

    //            resultTableBody.innerHTML = '';

    //            if (data.length === 0) {
    //                resultContainer.style.display = 'none';
    //                noResultsMessage.style.display = 'block';
    //            } else {
    //                noResultsMessage.style.display = 'none';
    //                resultContainer.style.display = 'block';

    //                data.forEach(user => {
    //                    var row = document.createElement("tr");
    //                    row.innerHTML = `
    //                <td>${user.MaTaiKhoan}</td>
    //                <td>${user.HoTen}</td>
    //                <td>${user.Quan}, ${user.ThanhPho}, ${user.Phuong}</td>


    //                <td><a href="/Search/UserDetail/${user.MaTaiKhoan}" class="btn btn-info">Chi Tiết</a></td>
    //            `;
    //                    resultTableBody.appendChild(row);
    //                });

    //            }
    //        });
    //}
    //document.getElementById("frmsearchroom").addEventListener("submit", function (e) {
    //    e.preventDefault();
    //    var form = this;

    //    fetch(form.action + "?" + new URLSearchParams(new FormData(form)), {
    //        method: "GET"
    //    })
    //        .then(response => response.text())
    //        .then(html => {
    //            document.getElementById("search-results").innerHTML = html;
    //        })
    //        .catch(err => console.error(err));
    //});

</script>