
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Host.cshtml";
}

<main id="main" class="main">

    <div class="center-screen">
        <img src="/Areas/Admin/Content/assets/img/logo.png" alt="Logo" class="site-logo">
        <h1><strong>CHÀO MỪNG BẠN ĐẾN TRANG QUẢN LÝ PHÒNG CHO THUÊ</strong></h1>
    </div>
</main>
